// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Creepster&family=Grand+Hotel&family=Pacifico&family=Press+Start+2P&family=Reenie+Beanie&display=swap');


// font-family: 'Bungee Shade', cursive;
// font-family: 'Creepster', cursive;
// font-family: 'Grand Hotel', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Reenie Beanie', cursive;



.profileInfo-container {
  h1,
  h2,
  h3,
  h4,
  h5
  {
    margin: 0;
  }

  position: relative;
  height: 100vh;
  max-height: 1500px;
  width: 100vw;
  background: paleturquoise;
}


h1 {
  background: white;
  padding: 1em;
  z-index: 4;
}

h2 {
  background: peachpuff;
  padding: 1em;
}

p {
  background: purple;
  color: white;
  z-index: 2;
}






body {
  font-family: 'Bungee Shade', cursive;
}

main {
  display: flex;
  flex-direction: column;

  section {
    width: 50%;
  }
}